* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 60%;
}

html,
body {
    height: 100vh;
}

body {
    background: #F0F0F7;
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6em;
    color: #6A6180;
}

#container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}